<% layout('layout') %>
<div class="container">


    <div class="primer-paso" id="first">
        <div class="col-md-6 primero-a">
            <h1>¿Cómo</h1>
            <h2>Funciona?</h2>
            <img src="/img/primero.jpg" alt="">
        </div>
        <div class="col-md-6 primero-b">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid beatae dignissimos dolorem,
                excepturi harum iste magnam, maiores modi nihil porro provident quam sit sunt suscipit temporibus vero
                vitae voluptatibus?</p>
        </div>
    </div>

    <div class="segundo-paso">
        <div class="col-md-8 segundo-a">
            <h1>Mi Starup</h1>
            <h2>No es muy conocida</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias architecto cum deserunt dicta,
                doloremque earum harum labore maxime obcaecati odit officiis omnis porro, praesentium quia quisquam
                saepe, sed veniam.</p>
        </div>
        <div class="col-md-4 segundo-b">
            <img src="/img/segundo.jpg" alt="">
        </div>
    </div>

    <div class="tercer-paso">
        <div class="col-md-4 tercero-a">
            <img src="/img/tercero.jpg" alt="">
        </div>
        <div class="col-md-8 tercero-b">
            <h1>¿Entonces</h1>
            <h2>también puedo unirme a una Starpup?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae, dolore dolorem hic illum nostrum
                quisquam! A architecto asperiores atque beatae debitis iure modi, officia placeat quaerat reiciendis
                sunt voluptatem!</p>
        </div>
    </div>


</div>