<% layout('layout') %>

<h1 class="categoria-title">Compra y<span> Venta</span></h1>

<div class="order">
    Ordenar por:
    <a class="active" href="javascript:void(0)">Popularidad</a> |
    <a href="javascript:void(0)">Alfabeticamente</a> |
    <a href="javascript:void(0)">Más Reciente</a>
</div>


<div class="container" style="margin-bottom: 20px">
    <div class="col-md-2 destacado" style="padding: 0">
        <h1 ><i class="fa fa-star" aria-hidden="true"></i> Destacado <i class="fa fa-star" aria-hidden="true"></i></h1>

        <a href="/detalle">
            <img width="100%" src="/img/best.jpg" alt="">
        </a>

    </div>

    <div class="col-md-10 e-todos">
        <div class="col-md-3 emprendimiento">
            <a href="/detalle" class="logo-top">
                <img src="/img/logo_26.jpg" alt="">
            </a>
            <a href="/detalle" class="emprendimiento-data">
                <h1>Todo para Bowling</h1>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </a>

        </div>

        <div class="col-md-3 emprendimiento">
            <a href="/detalle" class="logo-top">
                <img src="/img/logo_27.png" alt="">
            </a>
            <a href="/detalle" class="emprendimiento-data">
                <h1>Cath 5 Fundación</h1>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </a>

        </div>

        <div class="col-md-3 emprendimiento">
            <a href="/detalle" class="logo-top">
                <img src="/img/barber.jpg" alt="">
            </a>
            <a href="/detalle" class="emprendimiento-data">
                <h1>Barbería Stylus</h1>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </a>

        </div>

        <div class="col-md-3 emprendimiento">
            <a href="/detalle" class="logo-top">
                <img src="/img/pet_factory.jpg" alt="">
            </a>
            <a href="/detalle" class="emprendimiento-data">
                <h1>Pet Factory</h1>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </a>

        </div>


        <div class="col-md-3 emprendimiento">
            <a href="/detalle" class="logo-top">
                <img src="/img/Diseño-logos-13.jpg" alt="">
            </a>
            <a href="/detalle" class="emprendimiento-data">
                <h1>Meat Lover</h1>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </a>

        </div>

        <div class="col-md-3 emprendimiento">
            <a href="/detalle" class="logo-top">
                <img src="/img/logo_26.jpg" alt="">
            </a>
            <a href="/detalle" class="emprendimiento-data">
                <h1>Todo para Bowling</h1>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </a>

        </div>

        <div class="col-md-3 emprendimiento">
            <a href="/detalle" class="logo-top">
                <img src="/img/logo_27.png" alt="">
            </a>
            <a href="/detalle" class="emprendimiento-data">
                <h1>Cath 5 Fundación</h1>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </a>

        </div>

        <div class="col-md-3 emprendimiento">
            <a href="/detalle" class="logo-top">
                <img src="/img/barber.jpg" alt="">
            </a>
            <a href="/detalle" class="emprendimiento-data">
                <h1>Barbería Stylus</h1>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </a>

        </div>

        <div class="col-md-3 emprendimiento">
            <a href="/detalle" class="logo-top">
                <img src="/img/pet_factory.jpg" alt="">
            </a>
            <a href="/detalle" class="emprendimiento-data">
                <h1>Pet Factory</h1>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </a>

        </div>


        <div class="col-md-3 emprendimiento">
            <a href="/detalle" class="logo-top">
                <img src="/img/Diseño-logos-13.jpg" alt="">
            </a>
            <a href="/detalle" class="emprendimiento-data">
                <h1>Meat Lover</h1>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </a>

        </div>


    </div>
</div>

