<% layout('layout') %>


<div class="container" style="margin-bottom: 35px">
    <div class="col-md-3 emprendimiento fix-card">
        <a href="" class="logo-top">
            <img src="/img/logo_26.jpg" alt="">
        </a>
        <a href="#" class="emprendimiento-data">
            <h1>Todo para Bowling</h1>
            <p>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </p>
        </a>
        <span>www.bowlingcenter.com</span>
    </div>
    <div class="col-md-9 fix-body">
        <div class="col-md-12">
            <div class="ms-gallery-template" id="ms-gallery-1">
                <!-- masterslider -->
                <div class="master-slider ms-skin-black-2 round-skin" id="masterslider">
                    <div class="ms-slide">
                        <img src="/css/blank.gif" data-src="/img/back2.jpg" alt="lorem ipsum dolor sit"/>
                    </div>
                    <div class="ms-slide">
                        <img src="/css/blank.gif" data-src="/img/back2.jpg" alt="lorem ipsum dolor sit"/>
                    </div>
                    <div class="ms-slide">
                        <img src="/css/blank.gif" data-src="/img/back2.jpg" alt="lorem ipsum dolor sit"/>
                    </div>
                    <div class="ms-slide">
                        <img src="/css/blank.gif" data-src="/img/back2.jpg" alt="lorem ipsum dolor sit"/>
                    </div>


                </div>
                <!-- end of masterslider -->
            </div>
        </div>
        <div class="col-md-12 detalle-text">
            <p style="margin: 10px 0">
                <h1>¿Quiénes somos?</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis, delectus doloribus ducimus esse harum
                non quasi tempora. Assumenda aut commodi consequuntur delectus doloremque, eaque fugit iure optio quisquam
                sed.Lorem ipsum dolor sit amet.
                <br>
                consectetur adipisicing elit. At corporis, delectus doloribus ducimus esse harum
                non quasi tempora. Assumenda aut commodi consequuntur delectus doloremque, eaque fugit iure optio quisquam
                sed.Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis, delectus doloribus ducimus esse harum
                non quasi tempora. Assumenda aut commodi consequuntur delectus doloremque, eaque fugit iure optio quisquam
                sed.
            </p>

            <p style="margin: 10px 0">
            <h1>¿Qué Hacemos?</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis, delectus doloribus ducimus esse harum
            non quasi tempora. Assumenda aut commodi consequuntur delectus doloremque, eaque fugit iure optio quisquam
            sed.Lorem ipsum dolor sit amet.

            </p>


            <p style="margin: 10px 0">
            <h1>¿Donde encontrarnos?</h1>
            <img width="100%" src="/img/google-maps-2.gif" alt="">

            </p>

        </div>
    </div>
</div>

