<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIE - San Isidro Emprende</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/masterslider.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>


<div class="master-slider ms-skin-default" id="masterslider">
    <div class="element"></div>
    <img class="logotipe" src="/static/img/sie_white.svg" alt="">
    <a href="#primero">
        <img class="scrolldown" src="/static/img/scrolldown.svg" alt="">
    </a>
    <!-- new slide -->
    <div class="ms-slide" data-delay="10">
        <img src="/static/img/back1.png" data-src="/static/img/back5.jpg" alt="lorem ipsum dolor sit"/>
    </div>
    <div class="ms-slide" data-delay="10">
        <img src="/static/img/back1.png" data-src="/static/img/back5.jpg" alt="lorem ipsum dolor sit"/>
    </div>
    <div class="ms-slide" data-delay="10">
        <img src="/static/img/back1.png" data-src="/static/img/back5.jpg" alt="lorem ipsum dolor sit"/>
    </div>
    <div class="ms-slide" data-delay="10">
        <img src="/static/img/back1.png" data-src="/static/img/back5.jpg" alt="lorem ipsum dolor sit"/>
    </div>
</div>

<div id="primero">
   ESTOY AQUI
</div>



    <script src="/static/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="/static/js/masterslider.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.js"  type="text/javascript"></script>
    <script src="/static/js/typed.js"  type="text/javascript"></script>
    <script src="/static/js/jquery.smoothscroll.min.js"  type="text/javascript"></script>
    <script>

        $(function(){
            $(".element").typed({
                strings: ["El Fracaso mas grande es nunca haberlo intentado", "El Fracaso mas grande es nunca haberlo intentado"],
                typeSpeed: 10
            });
        });


        var slider = new MasterSlider();

        slider.control('arrows' ,{insertTo:'#masterslider'});
        slider.control('bullets');

        slider.setup('masterslider' , {
            width:1024,
            height:500,
            space:5,
            grabCursor:false,
            view:'basic',
            loop:true,
            autoplay:true,
            layout:'fullscreen',
            speed:20
        });

        $(function() {
            $('html').smoothScroll(700);
        });

    </script>

</body>

</html>