<h1>Registro de emprendimiento</h1>

<form method="POST" action="/">
	<label>Nombre</label>
	<input type="text" name="nombre"><br>
	<label>Logo</label>
	<input type="text" name="logo"><br>
	<input type="submit">Guardar
</form>