
@font-face {
    font-family: 'OstrichSans Heavy';
    src: url(../fonts/OstrichSans-Heavy.otf);
}

@font-face {
    font-family: 'OstrichSans Medium';
    src: url(../fonts/OstrichSans-Medium.otf);
}


body{
    font-family: 'Varela Round';
}


.logotipe {
    pointer-events: none;
    width: 115px;
    position: absolute;
    top: 16%;
    left: 65px;
    transform: translate(-50%, -50%);
}

.scrolldown {
    width: 50px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s ease;
}

.element2 {
    color: #fff;
    font-size: 40px;
    font-family: "OstrichSans Heavy";
    text-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

.scrolldown:hover {
    width: 55px;
}
/*===================
Buscador
 ==================*/
.buscador-principal{
    width: 55%;
    position: absolute;
    z-index: 3;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 159, 227,.5);
    padding: 15px;
    border-radius: 5px;
}
.buscador-principal #buscador1 i{
    pointer-events: none;
    position: absolute;
    left: 321px;
    z-index: 9;
    background: #009FE3;
    color: #fff;
    border-radius: 0 3px 3px 0;
    width: 40px;
    line-height: 52px;
    height: 52px;
    text-align: center;

}
.buscador-principal form input{
    width: 50%;
    float: right;
    line-height: 40px;
    height: 50px;
    border: none;
    color: rgba(0,0,0,.7);
    padding-left: 10px;
    font-size: 16px;
    border-radius: 5px;
}
.buscador-principal .bootstrap-select{
    width: 42% !important;
    float: left;
    background: #fff;
    border-radius: 5px;
}
.buscador-principal .bootstrap-select.open{
    background: #fff;
}
.buscador-principal .bootstrap-select button{
    width: 100%;
    border: 0;
    height: 40px;
    color: rgba(0, 0, 0, .5);
    -webkit-appearance: none;
    padding-left: 10px;
    border-radius: 5px !important;
}
.bootstrap-select.btn-group .dropdown-menu li a{
    padding: 15px;
}
/*===================
 Landing
 ==================*/
.sesion{
    font-family: "OstrichSans Medium";
    position: absolute;
    top: 30px;
    right: 10%;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}
.sesion a {
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}

.menu{
    font-family: "OstrichSans Medium";
    position: absolute;
    top: 30px;
    left: 30%;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}
.menu a {
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}
#small-dialog {
    background: white;
    padding: 20px 30px;
    text-align: left;
    max-width: 400px;
    margin: 40px auto;
    position: relative;
}
#small-dialog2 {
    background: white;
    padding: 20px 30px;
    text-align: left;
    max-width: 400px;
    margin: 40px auto;
    position: relative;
}


.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;



    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);

    opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    -webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;

    -webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
    opacity: 0;

    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
    opacity: 0;
}

/*===================
 Login
 ==================*/
#small-dialog,#small-dialog2{
    border-top:solid 5px #33A2E5;
    font-family: "OstrichSans Heavy";
    border-radius: 0 0 10px 10px;
}
#small-dialog h1,#small-dialog2 h1{
    text-align: center;
    color: #33A2E5;
}
#small-dialog form input, #small-dialog2 form input{
    font-size: 16px;
    font-family: "OstrichSans Medium";
    letter-spacing: 1px;
}
#small-dialog form label, #small-dialog2 form label{
    font-size: 20px;
    font-family: 'OstrichSans Medium';
    letter-spacing: 1.2px;
}
.olv-pass{
    display: inline-block;
    font-size: 19px;
    float: right;
    font-weight: bold;
    font-family: "ostrichsans medium";
}
.olv-pass a{
    color: #343434;
}
.submit_sie{
    letter-spacing: 1px;
    background: #33A2E5;
    color: #fff;
    font-size: 20px;
    font-family: "ostrichsans medium";
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
}

.fb-button-login{
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    background: #5474AB;
    width: 100%;
    height: 40px;
    color: #fff;
    position: relative;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.fb-button-login i{
    padding-left: 20px;
    position: absolute;
    left: 5px;
    top: 9px;
    font-size: 24px;
}
.gg-button-login{
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    background: #FF0000;
    width: 100%;
    height: 40px;
    color: #fff;
    position: relative;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.gg-button-login i{
    padding-left: 20px;
    position: absolute;
    left: 0;
    top: 9px;
    font-size: 24px;
}
.style-eight {
    padding: 0;
    border: none;
    border-top: thin solid rgba(0,0,0,.2);
    color: rgba(0,0,0,.2);
    text-align: center;
}
hr.style-eight::after {
    content: "ó";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.2em;
    padding: 0px 0.25em;
    background: white;
}

/*===================
 Landing
 ==================*/

.primer-paso, .segundo-paso, .tercer-paso {
    padding: 20px 0;
    height: 400px;
}

.primer-paso .primero-a, .segundo-paso .segundo-a, .tercer-paso .tercero-b{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.primer-paso .primero-b, .segundo-paso .segundo-b, .tercer-paso .tercero-a{

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.primer-paso .primero-a img, .segundo-paso .segundo-b img, .tercer-paso .tercero-a img{
    height: 350px;
}


.primer-paso .primero-a h1 {
    text-transform: uppercase;
    font-family: 'OstrichSans Heavy';
    position: absolute;
    color: #33A2E5;
    top: 35%;
    right: 35%;
    font-size: 80px;
}

.primer-paso .primero-a h2 {
    text-transform: uppercase;
    font-family: 'OstrichSans Heavy';
    position: absolute;
    color: #343434;
    top: 56%;
    right: 0;
    font-size: 90px;
}

.segundo-paso .segundo-a h1, .tercer-paso .tercero-b h1{
    text-transform: uppercase;
    font-family: 'OstrichSans Heavy';
    color: #33A2E5;
    line-height: 24px;
    font-size: 60px;
    margin: 0 0 5px 0;
}
.segundo-paso .segundo-a h2{
    text-transform: uppercase;
    font-family: 'OstrichSans Heavy';
    color: #343434;
    font-size: 60px;
    margin: 0 0 5px 100px;
}
.tercer-paso .tercero-b h2{
    text-transform: uppercase;
    font-family: 'OstrichSans Heavy';
    color: #343434;
    font-size: 50px;
    margin: 10px 0 5px 75px;
}


.segundo-paso .segundo-a, .segundo-paso .segundo-b  {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.color-div{
    background: #F1F1F1;
}
.title-categories{
    font-family: "OstrichSans Medium";
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-top: 5px;
}
.ms-info a h3{
    font-family: "OstrichSans Medium" !important;
    font-size: 35px !important;
    color: #33A2E5;
    
}

.ms-info a{
    text-decoration: none;
    color: #343434;
}
.text-categories{
    text-align: justify;
}
.ver-button{
    text-decoration: none;
    padding: 5px 15px;
    background-color: #343434;
    color: #fff;
    font-size: 14px;
    float: left;
    border-radius: 5px;
    transition: all .5s;
}
.ver-button:hover{
    text-decoration: none;
    background-color: #33A2E5;
    color: #fff;
}

.back1{
    position: absolute;
    overflow: hidden;
    height: 378px;
    top: -20px;
    opacity: .1;
    left: -200px;
    pointer-events: none;
}
.back2{
    position: absolute;
    overflow: hidden;
    height: 378px;
    top: -20px;
    z-index: -1;
    opacity: .1;
    right: 0;
    pointer-events: none;
}
.back3{
    position: absolute;
    overflow: hidden;
    height: 378px;
    top: -20px;
    opacity: .1;
    left: -200px;
    pointer-events: none;
}

/*===================
 footer
 ==================*/

.footer-back{
    background-color: #343434;
    font-family: "OstrichSans Medium";
    color: #fff;
}
footer{
    text-align: center;
    height:auto;
}
footer p{
    letter-spacing: 1px;
    margin-top: -30px;
}
footer img{
    height: 200px;
    position: relative;
    top: -45px;
    pointer-events: none;
}

@media only screen and (min-width : 320px) and (max-width : 736px) {
    .primer-paso, .segundo-paso, .tercer-paso{
        height:300px;
        display: inline-block;
    }
    .primer-paso .primero-b, .segundo-paso .segundo-b, .tercer-paso .tercero-a{
        top:34%;
    }
    .primer-paso .primero-a img, .segundo-paso .segundo-b img, .tercer-paso .tercero-a img{
        height:250px;
    }
    .primer-paso .primero-a h1{
        font-size: 50px;
    }
    .primer-paso .primero-a h2{
        font-size: 70px;
    }
    .logotipe{
        width: 250px;
        top:25%;
    }

    .element{
        bottom:4%;
        font-size: 27px;
    }
    .scrolldown{
        display: none;
    }
    .sesion #one{
        left: 0;
        text-shadow: none;
        width: 50%;
        top: initial;
        transform: none;
        opacity: 1;
        text-align: center;
        bottom: -2px;
        text-rendering: optimizeLegibility;
        position: fixed;
        z-index: 2;
        font-size: 20px;
        border: solid 1px rgba(0,0,0,.2);
        background: #33A2E5;
        color: #fff;
        padding: 5px;
        transition: all .5s;
    }
    .sesion #two{
        right: 0;
        text-shadow: none;
        width: 50%;
        top: initial;
        transform: none;
        opacity: 1;
        text-align: center;
        bottom: -2px;
        text-rendering: optimizeLegibility;
        position: fixed;
        z-index: 2;
        font-size: 20px;
        border: solid 1px rgba(0,0,0,.2);
        background: #33A2E5;
        color: #fff;
        padding: 5px;
        transition: all .5s;
    }
}
